  <!-- Footer -->
  <footer class="bg-dark text-light pt-5 pb-4 mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
          <h5 class="fw-bold text-white mb-3"><i class="fa-solid fa-person-biking text-primary me-2"></i>CrankUp.</h5>
          <p class="small text-secondary">Nền tảng thương mại điện tử chuyên biệt dành cho cộng đồng đam mê xe đạp thể thao tại Việt Nam.</p>
        </div>
        <div class="col-md-2 offset-md-2 mb-4">
          <h6 class="text-white mb-3">Dành cho người mua</h6>
          <ul class="list-unstyled small text-secondary">
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Tìm kiếm xe</a></li>
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Tìm hiểu quyền lợi</a></li>
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Hướng dẫn kiểm định</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <h6 class="text-white mb-3">Dành cho người bán</h6>
          <ul class="list-unstyled small text-secondary">
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Đăng tin bán</a></li>
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Quy định cọc</a></li>
            <li class="mb-2"><a href="#" class="text-secondary text-decoration-none">Trở thành Inspector</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-4">
          <h6 class="text-white mb-3">Liên hệ</h6>
          <div class="d-flex gap-3">
            <a href="#" class="text-secondary fs-5 hover-primary"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-secondary fs-5 hover-primary"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="text-secondary fs-5 hover-primary"><i class="fa-brands fa-tiktok"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JS (Local) -->
  <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
